<form novalidate (submit)="onSubmit($event)">
  <div class="mb-3">
    <label for="pfName" class="form-label">Name:</label>
    <input #nameInput id="pfName" type="text" class="form-control"
      [class.is-invalid]="productForm.name().invalid() && productForm.name().touched()"
      [formField]="productForm.name" />
    @if (productForm.name().invalid() && productForm.name().touched()) {
    <div class="invalid-feedback">
      @for (error of productForm.name().errors(); track error) {
      {{ error.message }}
      }
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="pfDescription" class="form-label">Description:</label>
    <textarea id="pfDescription" class="form-control" rows="5"
      [class.is-invalid]="productForm.description().invalid() && productForm.description().touched()"
      [formField]="productForm.description"></textarea>
    @if (productForm.description().invalid() && productForm.description().touched()) {
    <div class="invalid-feedback">
      @for (error of productForm.description().errors(); track error) {
      {{ error.message }}
      }
    </div>
    }
  </div>

  <div class="mb-3">
    <label for="pfPrice" class="form-label">Price:</label>
    <input id="pfPrice" type="number" step="0.01" class="form-control"
      [class.is-invalid]="productForm.price().invalid() && productForm.price().touched()"
      [formField]="productForm.price" />
    @if (productForm.price().invalid() && productForm.price().touched()) {
    <div class="invalid-feedback">
      @for (error of productForm.price().errors(); track error) {
      {{ error.message }}
      }
    </div>
    }
  </div>

  <div class="mb-4">
    <label for="pfQuantity" class="form-label">Count:</label>
    <input id="pfQuantity" type="number" class="form-control"
      [class.is-invalid]="productForm.quantity().invalid() && productForm.quantity().touched()"
      [formField]="productForm.quantity" />
    @if (productForm.quantity().invalid() && productForm.quantity().touched()) {
    <div class="invalid-feedback">
      @for (error of productForm.quantity().errors(); track error) {
      {{ error.message }}
      }
    </div>
    }
  </div>

  <hr />

  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>